.row {
  display: flex;
  flex: row;
  justify-content: center;
  margin: 0 -16px;
  margin-bottom: 15px;
}

.col-25 {
min-height: 727px;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 234, 221);
  border-radius: 15px;
  margin: 25px;
  padding: 25px;
  width: fit-content;
  justify-content: top;
  text-align: left;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  min-height: 707px;
}

input[type=input] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}