.page {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-justify: center;
}


.product {
    display:flex;
    flex-direction: column;
    background-color: rgb(236, 234, 221);
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    width: fit-content;
    justify-content: center;
    text-align: center;
}

.album_spotif {
    display:flex;
    flex-direction: row;
}

.albumInfo {
    display:flex;
    flex-direction: column;
}

.product_photo {
    width: 400px;
    height: 400px;
}

.product_title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;

}

.product_photo {
    padding-bottom: 10px;
}

.photo_info {
    border-bottom: 1px gray solid;
}

.main_info {
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
}

.storeInfo {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.product_description {
    padding-top: 5px;
    padding-bottom: 5px;
}
.product_artist {
    font-size: 24px;
    padding-bottom: 5px;
}
/* _______________ */

/* ________ */

.addPtdBtn {
  margin-top: 12px;
  border-radius: 15px;
  outline: 0;
  padding: 3px;
  color: black;
  background-color: rgb(200, 134, 48);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.addPtdBtn:hover {
  opacity: 0.7;
}

.spotifContainer {
    border-radius: 15px;
    background-color: black;
    margin-left: 25px;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: fit-content;
}

/* .spotif {
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    width: fit-content;
} */
.add_to_cart {
    display:flex;
    flex-direction: column;
    background-color: rgb(236, 234, 221);
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    width: fit-content;
}

/* FOR THE CARTS */
.cart {
    height: 100%;
    width: 25%;
  
    position: relative;
  }
  /* cart header */
  .cart-header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  /* cart items */
  .cart-items {
    max-height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* cart item */
  .cart-item {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  .cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* item info */
  .cart-item .item-info {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.6);
  
    border-radius: 0 10px 10px 0;
  
    padding: 10px;
  }
  .cart-item .item-info:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
  }
  .cart-item .item-info img {
    width: 75px;
  }
  /* unit price */
  .cart-item .unit-price {
    flex: 1;
    font-size: 1.2rem;
  }
  /* units */
  .cart-item .units {
    flex: 1;
  }
  .cart-item .units .number {
    margin: 0 10px;
  
    font-size: 1.2rem;
  }
  .cart-item .units .btn {
    width: 20px;
    height: 20px;
  
    background-color: rgb(242, 255, 58);
  
    border-radius: 50%;
  
    font-weight: bold;
  
    cursor: pointer;
  
  }
  
  /* cart footer */
  .cart-footer {
    width: 100%;
    background-color: rgb(255, 21, 21);
    position: absolute;
    bottom: 0;
    left: 0;
  
    border-left: 1px solid rgb(var(--right-side-bg-color));
  }
  .cart-footer div {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 15px 0;
  
    font-size: 1.3rem;
  }
  .cart-footer .subtotal {
    background-color: white;
  }
  .cart-footer .checkout {
    background-color: rgb(242, 255, 58);
  
    cursor: pointer;
  }
  