.page {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-justify: center;
}


.productPage {
    display:flex;
    flex-direction: column;
    background-color: rgb(236, 234, 221);
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    width: fit-content;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.album_spotif {
    display:flex;
    flex-direction: row;
}

.albumInfo {
    display:flex;
    flex-direction: column;
}

.product_photo {
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.product_title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;

}

.product_photo {
    padding-bottom: 10px;
}

.photo_info {
    border-bottom: 1px gray solid;
}

.main_info {
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
    max-width: 460px;
}

.storeInfo {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.product_description {
    padding-top: 5px;
    padding-bottom: 5px;
}
.product_artist {
    font-size: 24px;
    padding-bottom: 5px;
}
/* _______________ */

/* ________ */

.addPtdBtn {
  margin-top: 12px;
  border-radius: 15px;
  outline: 0;
  border: none;
  padding: 3px;
  color: black;
  background-color: rgb(200, 134, 48);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.addPtdBtn:hover {
  opacity: 0.7;
}

.spotifContainer {
    border-radius: 15px;
    background-color: black;
    margin-left: 25px;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: fit-content;
}

/* .spotif {
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    width: fit-content;
} */

.add_to_cart {
    
    display:flex;
    flex-direction: column;
    background-color: rgb(236, 234, 221);
    border-radius: 15px;
    margin: 25px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    width: fit-content;
}

