form {
    /* flex-direction: column;
    font-size: x-small;
    width: 500px;
    background-color: blue; 
    display:flex;
    flex-direction: column;
    background-color: rgb(236, 234, 221);
    border-radius: 5px;
    margin: 25px;
    padding: 25px;
    width: fit-content;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    max-zoom: 50px; */
  } 

   