.product_photo {
  border-radius: 15px;
  /* width: 150px fixed;
  height: 150px fixed; */
  object-fit: cover;
}

.product {
    text-decoration: none;
}

/* .title {
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: bold;
}

.bottom_text {
  text-align: left;
} */